.frame4welcometo-hotspot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame4welcometo-hotspot-frame4welcometo-hotspot {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(18, 18, 58, 1);
}
.frame4welcometo-hotspot-nav-bar {
  top: 53px;
  left: 206px;
  width: 1046.725830078125px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame4welcometo-hotspot-text {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Lemon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-text05 {
  left: 371px;
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jaldi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-text07 {
  left: 619.95166015625px;
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jaldi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-text09 {
  left: 901.41943359375px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jaldi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-text11 {
  top: 384px;
  left: 206px;
  color: rgba(255, 255, 255, 1);
  width: 1047px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Lemon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-navlink {
  display: contents;
}
.frame4welcometo-hotspot-rectangle1button {
  top: 706px;
  left: 562px;
  width: 346px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.frame4welcometo-hotspot-text22 {
  top: 728px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Lemon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4welcometo-hotspot-navlink1 {
  display: contents;
}
.frame4welcometo-hotspot-fluentmdl2back {
  top: 179px;
  left: 181px;
  width: 49px;
  height: 42px;
  position: absolute;
  text-decoration: none;
}
